<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Egenkontrol Viewer</title>
</head>
<body>
    <p>
    <label for="cvr">CVR:</label>
    <input type="text" id="cvr" name="cvr">
    <button>Find</button>
    </p>
    <table>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>CVR</td>
        </tr>
        <tr>
            <td>1</td>
            <td>test@hotmail.com</td>
            <td>12345678</td>
        </tr>
        <tr>
            <td>2</td>
            <td>test@gmail.com</td>
            <td>87654321</td>
        </tr>
    </table>
</body>
</html>